#linford {
	display: none;
}

.numSections {
	margin-bottom: 5px;
}

#professorSubmit {
	display: none;
}

#courseSignUp_0 {
	display: none;
}

#courseSignUp_1 {
	display: none;
}

#courseSignUp_2 {
	display: none;
}

#courseSignUp_3 {
	display: none;
}

#courseSignUp_4 {
	display: none;
}

#courseSignUp_5 {
	display: none;
}